 # Q1)Discuss string slicing and provide examples.

In [4]:

# ANS:string is a set of characters.They are collection of ordered elements has specific index allocated
#  to each character within the string. string slicing is the art of extracting specific portions(substrings)
#  from a string by specifying start and end of indices. here,start index is included and end index is
#  excluded in sliced string,also step index (optional) specifies gap between each index for slicing(skips
#  the element). simple syntax: string[start:end]

In [16]:
#example on slicing of string
string = "Poonam"
string[1:4] # slice from index 1(included) to index 4(excluded)

'oon'

In [17]:
string[0:5:2] #string[start:end:step]

'Poa'

In [18]:
string[0:]

'Poonam'

In [14]:
string[-3:] #indicates include last three characters

'ani'

In [20]:
string[:-2] #indicates skip last two characters

'Poon'

#  Q2)Explain key features of lists in python.

 ANS:List:list is an in-build datatype an ordered collection of elements/objects in single variable
 with some index acquired by each element. They are created using [] brackets.

In [22]:
 #ex of list
l =[1,2,3,4,5]
l

[1, 2, 3, 4, 5]

 key features of lists in python are as follows:
 1)Lists are ordered. It is collection of ordered elements.hence,maintains order of elements,allows
 you to access elements by their index. The order is preserved even after insertion and deletion
 operations.

In [25]:
#ex1)two variables having same elements but in different order are not same
a=["1","2","3","5"]
b=["3","1","4","2"]
a==b

False

 2)lists are heterogeneous. list can contain anything and everything.hence they are heteroge
neous because elements in list could have datatypes like characters,strings,integer,boolean,complex
 number,float or may be combination of all datatypes, same datatype could appear multiple
 times(duplicate elements) in a single list or variable.even other list within a list is possible.They
 can be iterated by loops. They are also homogeneous as we can use one specific datatype in a single
 list.ex int

In [26]:
#ex2)
l=[1,2,3,4] #only integer type in a list(homogeneous)
l

[1, 2, 3, 4]

In [27]:
 type(l)

list

In [28]:
l=["jay","yash","anurag"] #only strings in a list(homo)
l

['jay', 'yash', 'anurag']

In [29]:
l=['a','b','c'] #only characters in a list(homo)
l

['a', 'b', 'c']

In [32]:
 l=["Ritik",2.5,200,2+3j,True] #combination of different␣ ↪datatypes(heterogeneous)

In [33]:
l

['Ritik', 2.5, 200, (2+3j), True]

In [35]:
l=["RRR",100,"lll",100] #same datatype(value) appeared 2 times(duplicate␣↪elements allowed)
l

['RRR', 100, 'lll', 100]

In [36]:
#nesting of list:list that appears as element in another list
mylist=[[1,2,3],["joe","moe"]]
mylist

[[1, 2, 3], ['joe', 'moe']]

 3)list elements can be accessed by index individual elements in a list can be accessed using index in
 square brackets.starts from 0,1,2…thus,eack element has unique index corrosponding to its position
 in the list. Negetive indexing of elements can be accessed from end of the list.

In [1]:
#ex3)
l=[12,"ions",3.4]
l[0] #0th index value

12

In [2]:
l[-1] #negetive index value

3.4

In [3]:
#deep copy:change in one variable will not reflect in another variable
kirti=["a","b","c"]
ajay=kirti.copy()
ajay

['a', 'b', 'c']

In [4]:
kirti

['a', 'b', 'c']

In [6]:
kirti[0]="d"
kirti

['d', 'b', 'c']

In [7]:
ajay #change in kriti not reflected in ajay

['a', 'b', 'c']

In [8]:
#shallow copy:change in one variable will reflect in another variable
kirti=[1,2,3,4]
ajay=kirti
kirti

[1, 2, 3, 4]

In [9]:
ajay

[1, 2, 3, 4]

In [11]:
kirti[0]=9
kirti

[9, 2, 3, 4]

In [12]:
ajay #kirti's values reflected in ajay

[9, 2, 3, 4]

In [13]:
#membership operators(in and not in)
l=["alooo","leleo",56]
l

['alooo', 'leleo', 56]

In [14]:
"leleo" in l

True

In [15]:
"leleo" not in l

False

In [16]:
#concatenation(+):creates new list by adding another list to it.
a=["you are great","you are clever"]
b=["i am the best"]
a+b

['you are great', 'you are clever', 'i am the best']

In [17]:
 #replication(*):broadcast same msg multiple times
a*2

['you are great', 'you are clever', 'you are great', 'you are clever']

In [18]:
#len(),min(),max()
a=[1,2,3,4,5]
len(a)

5

In [19]:
min(a)

1

In [20]:
max(a)

5

 list supports slicing It allows you to extract from both positive and negetive indices a specific
 portion(substrings) from the list by specifying start and end of the extracting portion.

In [21]:
#ex4)
l=[1,2,"kpop",23.4,]
l

[1, 2, 'kpop', 23.4]

In [22]:
l[1:]

[2, 'kpop', 23.4]

In [23]:
l[1:3]

[2, 'kpop']

In [24]:
l[-3:]

[2, 'kpop', 23.4]

In [25]:
l[-4:-1]

[1, 2, 'kpop']

In [26]:
l[0:4:2]

[1, 'kpop']

In [27]:
l[4:0:-2]

[23.4, 2]

In [28]:
a=["pwskills",154660,23.45,2+5] #reversing the list
a[::-1]

[7, 23.45, 154660, 'pwskills']

 5)lists are Mutable:They can be modified after creation which enables you to ap
pend,remove,pop,replace,insert,extend,search,sort,iterates elements as per requirement. This makes
 list dynamic as it grows or shrinks as per needed also makes it adoptable to changing data require
ments.

In [29]:
#ex5)append(add) at the end of the list
l = ["leh","burj","khalifa","mountains"] #syntax: list.append(element)
l.append("rivers")
l

['leh', 'burj', 'khalifa', 'mountains', 'rivers']

In [30]:
#remove
l=[1,2,3,4] #syntax:list.remove(element)
l.remove(2)
l

[1, 3, 4]

In [31]:
#pop
l=[9,8,7] #syntax:list.pop() or pop(index value may be positive or negetive)
l.pop(-1)
l

[9, 8]

In [32]:
#replace at any index if mentioned in command
l=["Ram","leela"]
l

['Ram', 'leela']

In [34]:
l[1]="sita"
str(l)

"['Ram', 'sita']"

In [35]:
str(l).replace("sita","geeta")

"['Ram', 'geeta']"

In [36]:
 #insert element at specific index
l=["live","life","as","you","want"] #syntax:list.insert(position,element)
l.insert(1,"your")
l

['live', 'your', 'life', 'as', 'you', 'want']

In [37]:
#extend:modifies original list
a=['a','b']
a.extend([1,2,3])
a

['a', 'b', 1, 2, 3]

# Q3)Describe how to access,modify and delete elements in a list with examples

In [38]:
#ANS:list elements can be accessed by index
a=["lollipop",1,2.3,500]
a[0]

'lollipop'

In [39]:
a[-2]

2.3

In [40]:
#methods to modify the list
 #append:adds object to the list
a=[1,2,3]
a.append(123)
a

[1, 2, 3, 123]

In [41]:
#sort:sorts list in ascending order
z=[3,7,4,2]
z.sort()
z

[2, 3, 4, 7]

In [42]:
z.sort(reverse =True) #desending order
z

[7, 4, 3, 2]

In [43]:
#remove:
z=[1,3,4,6]
z.remove(4) #direct value 4 is assigned in command
z

[1, 3, 6]

In [44]:
#pop:pops index value is assigned to command whose object is to be removed
 #by defalut if index value is not assigned in command it pop the last value as 2
z=[0,56,2]
z.pop(1) #here 1 is index value assigned in command to remove 56
z

[0, 2]

In [45]:
 #extend:modifies original list
z=[9,0,7]
z.extend([3,4,5])
z

[9, 0, 7, 3, 4, 5]

In [46]:
 #insert:insert the element at particular index
z=[1,2,3,4]
z.insert(3,[5,6,7])
z

[1, 2, 3, [5, 6, 7], 4]

# Q4)Compare and contrast tuples and lists with examples

 ANS:SIMILARITIES: 1)List and tuple both are built-in datastructures in python,they are or
fered collection of elements/objects,they are containers that stores and manipulates a multiple
 elements(data) of same or different datatypes(int,bool,complex etc) in a single variable.can have
 duplicate elements too. They can be iterable by loops

In [47]:
a=[1,"ee",3.5,True,3,3,3] #list
a

[1, 'ee', 3.5, True, 3, 3, 3]

In [48]:
b=(2,"ff",4.5,False,2,2,2)#tuple
b

(2, 'ff', 4.5, False, 2, 2, 2)

2)both can access elements by their index

In [50]:
a[0] #list

1

In [51]:
b[1]# tuple

'ff'

3)Concatenation,repetition,slicing,nesting,sorting of list can be done for both types.

In [52]:
 #LIST operations:Concatenation
L1=[1,2,3]
L2=[5,6,7]
L3=L1+L2
L3

[1, 2, 3, 5, 6, 7]

In [58]:
#nesting:
L3=[[1,2,3],[9,7,5]]
L3

[[1, 2, 3], [9, 7, 5]]

In [59]:
#Repetition
L1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [60]:
 #slicing
L3[2:4]

[]

In [61]:
#sorting
L4=[2,6,1,5,3]
sorted(L4)

[1, 2, 3, 5, 6]

In [62]:
#TUPLE Operation:Concatenation
T1=[1,2,3]
T2=[5,6,7]
T3=T1+T2

In [63]:
T3

[1, 2, 3, 5, 6, 7]

In [64]:
#nesting:
T4=((1,2,3),(234,345),(32,45))
T4

((1, 2, 3), (234, 345), (32, 45))

In [65]:
 #Repetition
T1*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [66]:
 #slicing
T3[2:4]

[3, 5]

In [68]:
#sorted
T4=(1,2,3,4)
sorted(T4)

[1, 2, 3, 4]

 4)Following Built-in functions are common for both the types: len():return number of elements in
 sequence. max():return element with largest value. min():return element with smallest value.

In [70]:
#LIST operation:
L1=[9,67,44]
len(L1)

3

In [71]:
max(L1)

67

In [72]:
min(L1)

9

In [73]:
#TUPLE operation:
T1=[9,67,44]
len(T1)

3

In [74]:
max(T1)

67

In [75]:
min(T1)

9

 DIFFERENCES:Lists are mutable,possible to modify as to append,delete,insert,update the ele
ments in the list. THE elements in lists are stored in single variable separated by commas and
 enclosed in square bracket[].

In [76]:
 #list operation:
L1=[34,67,89]
L1.append(80)
L1

[34, 67, 89, 80]

In [77]:
l2=[12,13,14]
l2.remove(13)
l2

[12, 14]

In [78]:
12

12

In [81]:
l2.insert(1,13)
l2

[12, 13, 14]

In [80]:
12

12

In [82]:
l2[2]=100 #update
l2

[12, 13, 100]

Tuple is immutable any operation relatedmodify results in attribute error. The elements in tuple
 are stored in single variable and are separated by commas and enclosed in parantheses()

In [83]:
#tuple operation
T1=(1,2,3)
T1.append(4)
T1

AttributeError: 'tuple' object has no attribute 'append'

In [84]:
T1.remove(1)
t1

AttributeError: 'tuple' object has no attribute 'remove'

In [85]:
T1[2]=100
T1

TypeError: 'tuple' object does not support item assignment

#  Q5)Describe key features of sets and provide examples of their use.

 ANS:set is built-in datatype and is the collection unordered elements/objects in single variable
 ex:set={1,2,3} The key features of set are as follows explained with examples:

In [86]:
 #1)set gives unordered, unique elements, no duplicates allowed so they are␣↪ignored at output.
set={1,2,9,4,1,1}
set

{1, 2, 4, 9}

In [87]:
set[0] #2)can't access index

TypeError: 'set' object is not subscriptable

In [88]:
#3)They are unchangeable means once set is created,cannot change its elements␣↪but can remove and add elements.hence,they are mutable.
set.add(100)
set

{1, 2, 4, 9, 100}

In [89]:
set.remove(2)
set

{1, 4, 9, 100}

In [90]:
len(set) #to detemine how many elements in set

4

In [91]:
 #opeartors used in set are:union,intersection,difference,symmetric difference
S1={1,2,3}
S2={3,4,5}
S1|S2 #UNION:All the elements

{1, 2, 3, 4, 5}

In [92]:
S1&S2 #INTERSECTION:commom elements

{3}

In [93]:
S1-S2 #DIFFERENCE:present in first set but not in second set

{1, 2}

In [94]:
S1^S2 #SYMMETRIC DIFFERENCE:not common elements

{1, 2, 4, 5}

# Q6)Discuss the use cases of tuples and sets in python programming.

ANS:tuples are ordered collection of elements used to store multiple,duplicate elements in a single
 variable They are heterogeneous and immutable(unchangeable) so they are used to store data which
 cannot be changed ever ex:account no.,adhar card no,ATM no. here are some following opeartions
 used in tuple:

In [95]:
 #creating a tuple
t=(1,2,2,"monjo",True,None)
t

(1, 2, 2, 'monjo', True, None)

In [96]:
type(t) #to see the type

tuple

In [97]:
#tuples are accessed by index
t=(1,2,3,5)
t

(1, 2, 3, 5)

In [98]:
t[0]

1

In [99]:
t[-1]

5

In [101]:
#if wanted to change the value in tuple error occurs
t[0] = 5

TypeError: 'tuple' object does not support item assignment

In [102]:
t.count(2) #count values of element

1

In [103]:
t.index(3) #see index of any element

2

In [104]:
len(t)

4

In [105]:
t=(1,4,6,7)
sorted(t)

[1, 4, 6, 7]

In [106]:
1 in t #see if element is present in tuple

True

In [107]:
#nesting of tuple
t=((1,2,3),(4,5,6))
t

((1, 2, 3), (4, 5, 6))

 set is unordered collection of unique elements no duplicates,dont have index cannot access.They
 are mutable and unchangeable. sets are used in industry like to know unqiue elements in two
 dataframes.here,set operations like union,insection etc are used. df1=5,8,6,2 df2=6,2,8,5

In [108]:
 #creating set
s={1,1,1,2,3}
s

{1, 2, 3}

In [109]:
s[0] #cannot access index

TypeError: 'set' object is not subscriptable

In [110]:
s[2]=100 #can't change once created

TypeError: 'set' object does not support item assignment

In [112]:
#but we can add and remove
s.add(100)
s

{1, 2, 3, 100}

In [113]:
s.remove(100)
s

{1, 2, 3}

In [114]:
s.clear()
s

set()

In [115]:
 #different operations also performed:
s1={1,2,3}
s2={3,4,5}
s1|s2 #union:include all elements

{1, 2, 3, 4, 5}

In [116]:
s1&s2 #intersection:commom elements

{3}

In [117]:
s1-s2

{1, 2}

In [118]:
s1-s2

{1, 2}

# Q7)Describe how to add,modify and delete items in a dictionary with examples.

ANS:Dictionary is unordered collection of elements. data is stored in key value pair,keys are unique
 and immutable cannot change once created but values assigned to keys can be change.

In [119]:
 #create a dictionary
 d={"name":"ajay","email":"ajay@gmail.com"} #key:value
 d

{'name': 'ajay', 'email': 'ajay@gmail.com'}

In [120]:
d['name']

'ajay'

In [122]:
d1={(1,2):"ajay"} #key can be tuple as tuple is also immutable
d1

{(1, 2): 'ajay'}

In [123]:
d

{'name': 'ajay', 'email': 'ajay@gmail.com'}

In [124]:
d["couse"]="ds" #add key value pair
d

{'name': 'ajay', 'email': 'ajay@gmail.com', 'couse': 'ds'}

In [127]:
del d["couse"]
d

{'name': 'ajay', 'email': 'ajay@gmail.com'}

In [128]:
d.keys()

dict_keys(['name', 'email'])

In [129]:
d.values()

dict_values(['ajay', 'ajay@gmail.com'])

In [130]:
d1={"course":"ml"}
d.update(d1)
d

{'name': 'ajay', 'email': 'ajay@gmail.com', 'course': 'ml'}

In [131]:
d.clear()
d

{}

In [132]:
del d
d

NameError: name 'd' is not defined

#  Q8)Discuss the importance of dictionary keys being immutable and provide examples

 ANS:Dictionary is collection of ordered elements,changeable,no duplicate allowed data is stored in
 key value pair but keys are immutable but values assigned to keys can be changed. Dictionary
 keys must be immutable because it ensures that dicitionary can efficiently look up values based on
 their keys. If a key was mutable,its hash value could change,making it impossible to find associated
 value in dictionary.

In [133]:
#ex
emp_record={"id":"ajay","department":"enginerring"} #id and department␣↪immutable and ajay enginerring mutable
emp_record

{'id': 'ajay', 'department': 'enginerring'}

In [134]:
 #ex
d={"name":"alice","age":30}
 d

{'name': 'alice', 'age': 30}